<br>
<div class="btn-group" style="margin-left:78%">
  <button  data-toggle="dropdown" class="btn btn-outline btn-primary"> Action <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li>
      <button class="btn btn-outline btn-primary"  style="margin-left: 35px; margin-top: 5px"> Ajouter </button>
    </li>
    <li>
      <button class="btn btn-outline btn-primary"  style="margin-left: 35px; margin-top: 5px"> Fermer </button>
    </li>
    <li class="divider"></li>
  </ul>
</div>
<div class="row">
  <div class="col-lg-2">
    <label > Code </label>
  </div>
  <div class="col-lg-3">
    <input class="form-control" type="text">
  </div>
</div>
<br>
<div class="input-group mb-3">
  <div class="input-group-prepend" >
    <label class="input-group-text" for="inputGroupSelect01"> Type </label>
  <select class="custom-select" id="inputGroupSelect01" style="margin-left: 66%; width: 230px ">
    <option selected> </option>
    <option value="1">AMELIORATION</option>
    <option value="2">AMELIORATION</option>
    <option value="3">AMELIORATION</option>
  </select>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-2">
    <label > Categorie </label>
  </div>
  <div class="col-lg-3">
    <input class="form-control" type="text">
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-2">
    <label > Priorite </label>
  </div>
  <div class="col-lg-3">
    <input class="form-control" type="text">
  </div>
</div>
<br>
<div class="input-group mb-3">
  <div class="input-group-prepend" >
    <label class="input-group-text" for="inputGroupSelect01"> Demandeur </label>
    <select class="custom-select" id="inputGroupSelect02" style="margin-left: 95px; width: 230px ">
      <option selected> </option>
      <option value="1">user</option>
      <option value="2">user</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
    <label > Date de Creation </label>
  </div>
  <div class="col-lg-3">
    <input class="form-control" type="date">
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-2">
    <label > Description Probleme </label>
  </div>
  <div class="col-lg-3">
    <textarea rows="3" style="width: 230px"></textarea>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-2">
    <label > Code Origine </label>
  </div>
  <div class="col-lg-3">
    <input class="form-control" type="text">
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-2">
    <label > Provient De </label>
  </div>
  <div class="col-lg-3">
    <input class="form-control" type="text">
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-2">
    <label > Analyse des causes </label>
  </div>
  <div class="col-lg-3">
    <textarea rows="3" style="width: 230px"></textarea>
  </div>
</div>
<br>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand"> Validation de l'action </a>
</nav>
<div class="input-group mb-3">
  <div class="input-group-prepend" >
    <label class="input-group-text" for="inputGroupSelect01"> Valideur de l'action </label>
    <select class="custom-select" id="inputGroupSelect03" style="margin-left: 48px; width: 230px ">
      <option selected> </option>
      <option value="1">user1</option>
      <option value="2">user2</option>
    </select>
  </div>
</div>
<button type="button" class="btn btn-outline btn-primary" style="margin-left:77%">Valider</button>
<br>
<div class="row">
  <div class="col-lg-2">
    <label > Action validée? </label>
  </div>
  <div class="col-lg-3">
    <div class="form-check">
      <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
    </div>
  </div>
</div>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand"> Cloture de l'action.. </a>
</nav>
<div class="input-group mb-3">
  <div class="input-group-prepend" >
    <label class="input-group-text" for="inputGroupSelect01"> Etat Action </label>
    <select class="custom-select" id="inputGroupSelect04" style="margin-left: 98px; width: 230px ">
      <option selected> </option>
      <option value="1"> Ouverte </option>
      <option value="2"> Cloturer </option>
    </select>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-2">
    <label > Date de Cloture </label>
  </div>
  <div class="col-lg-3">
    <input class="form-control" type="date">
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-2">
    <label > Observation cloture </label>
  </div>
  <div class="col-lg-3">
    <textarea rows="3" style="width: 230px"></textarea>
  </div>
</div>
<br>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand"> Documents joints.. </a>
</nav>
<div class="btn-group" style="margin-left:78%">
  <button  data-toggle="dropdown" class="btn btn-outline btn-primary"> Document <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li>
      <button class="btn btn-outline btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="margin-left: 12px; margin-top: 5px">Ajouter</button>
    </li>
    <li>
      <button class="btn btn-outline btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="margin-left: 12px; margin-top: 5px"> Modifier </button>
    </li>
    <li>
      <button class="btn btn-outline btn-primary"  style="margin-left: 12px; margin-top: 5px">Supprimer</button>
    </li>
    <li class="divider"></li>
  </ul>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Document joint</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="document-name" class="col-form-label"> Nom Document</label>
            <input type="text" class="form-control" id="document-name">
          </div>
          <div class="form-group">
            <label for="objet-text" class="col-form-label">Objet</label>
            <textarea class="form-control" id="objet-text"></textarea>
          </div>
          <div class="form-group">
            <label for="date-creation" class="col-form-label"> Date de Création</label>
            <input type="text" class="form-control" id="date-creation">
          </div>
          <div class="form-group">
            <label for="observation-text" class="col-form-label">Observation</label>
            <textarea class="form-control" id="observation-text"></textarea>
          </div>
          <div class="form-group">
            <label  class="col-form-label">Fichier</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Fermer </button>
        <button type="button" class="btn btn-primary"> Ajouter </button>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="ibox-content" style="margin-bottom:50px" >
  <table class="table table-hover no-margins">
    <thead>
    <tr>
      <th> Nom Document </th>
      <th> Type </th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<h3>  o </h3>


