<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
        </div>
      <form>
        <fieldset style="margin-left: 0%; width:1200px ">
          <legend> Chercher </legend>
          <label> CODE </label>
          <input style="margin-left: 110px; width: 16%" type="text">
          <label style="margin-left: 20%"> TYPE </label>
          <input style="margin-left: 6%; width: 16%" type="text"> <br>
          <label> CATEGORIE </label>
          <input style="margin-left:74px; width: 16%" type="text">
          <label style="margin-left: 20%"> PRIORITE </label>
          <input style="margin-left: 3.65%; width: 16%" type="text"> <br>
          <label> DEMANDEUR </label>
          <input style="margin-left:62px; width: 16%" type="text">
          <label style="margin-left: 20%"> ORIGINE </label>
          <input style="margin-left: 4%; width: 16%" type="text"> <br>
          <label> DATE CREATION</label>
          <label style="margin-left: 20px"> DE </label>  <input style="width: 90px; margin-left: 3px" type="date">
          <label> A </label>  <input type="date" style="width: 87px;">
          <label style="margin-left: 20%"> MOT CLE </label>
          <input style="margin-left: 3.85%; width:16%" type="text"> <br>
          <label> ETAT ACTION</label>
          <input style="margin-left: 60px" type="radio"  name="etat"> <label>OUVERTE</label>
          <input style="margin-left: 40px" type="radio"  name="etat"> <label>CLOTUREE</label>
          <button type="button" class="btn btn-outline btn-primary" style="margin-left:37%">Chercher</button>
        </fieldset>
      </form>
    </div>
    <div class="row" style="margin-top: 30px">

        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Actions list</h5>
                            <div class="ibox-tools" >

                              <div class="btn-group" >
                                <button  data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                  <li>
                                      <a [routerLink]="['../ajout-action']">Ajouter</a>
                                  </li>
                                  <li><a href="#" class="font-bold">Modifier</a></li>
                                  <li><a href="#">Supprimer</a></li>
                                  <li class="divider"></li>
                                </ul>
                              </div>

                            </div>
                        </div>


                        <div class="ibox-content" *ngIf="actions">
                            <table class="table table-hover no-margins">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Categorie</th>
                                    <th>Date de creation</th>
                                    <th>description probléme</th>
                                    <th>Code origine</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let action of actions">
                                    <td><small></small>{{action.id}}</td>
                                    <td>{{action.categorie}}</td>
                                    <td>{{action.date_creation}}</td>
                                    <td>{{action.desc_prob}}</td>
                                    <td>{{action.code_origine}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
